<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608660903951-ml6oomj510kujnhoddsenpheq3d20a83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608660903951-ml6oomj510kujnhoddsenpheq3d20a83</string>
	<key>API_KEY</key>
	<string>AIzaSyDlFgC8Ur4i5Q1QDZwamjVbyr_ubHSnhlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>608660903951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nat.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-7cef2</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-7cef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608660903951:ios:c8d0264d96bfd303ee6b7a</string>
</dict>
</plist>